@page
@using DomainLayer.BusinessLogic.Mailing.Models
@model NewTicketAttachmentModel

<!-- Begin document -->

@{
    Layout = "mailLayout";
}

<h2>Neuer Anhang</h2>
<ul>
    <li>@Model.Name</li>
</ul>

