@page
@using DomainLayer.BusinessLogic.Mailing.Models
@model NewTicketCommentModel

<!-- Begin document -->

@{
    Layout = "mailLayout";
}

<div class="card">
    <h3 class="card-header">@Model.Localizer.Localize("Comment by") '@Model.Author'</h3>
    <p>@Model.Content</p>
</div>

